<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<div id="game-heading" data-game-id="<%= @game.id %>">
  <h1><%= @game.title %></h1>
  <h2>Game Leader: <%= @game.user.email =%></h2>
</div>

<div id="players" data-game-id="<%= @game.id %>">
  <%= render @players %>
</div>

<div id="my-player" data-player-id="<%= @user.id %>">
  <h2>My User ID: <%= @user.id =%></h2>
</div>
